#aragorn,
#frodo,
#gandalf,
#result,
#nameAlert {
display: none;
}

#nameAlert {
  color: red;
}

img {
  max-width: 500px;
}

.question {
  margin-top: 20px;
}

.btn-success {
  margin-top: 20px;
  margin-bottom: 20px;
}